{% extends 'base.html.twig' %}

{% block title %}Hello ListObjectsController!{% endblock %}

{% block body %}
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<div class="wrapper">
    <h1>Liste des Objects</h1>

    <form method="post">
        <input type="hidden" value="new" name="action" />
        <input type="submit" id="newObject" value="Nouveau" />
    </form>
    <table>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Description</th>
        </tr>
        {% for object in objects %}
        <tr>
            <td>{{ object.id }}</td>
            <td>{{ object.nom }}</td>
            <td>{% apply markdown_to_html %}{{ object.description }}{% endapply %}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
